    <nav class="navbar fixed-bottom navbar-dark bg-transparent d-none d-lg-block">
      <a class="navbar-brand d-inline text-center d-inline-block" href="/"><i class="fab fa-blogger-b text-primary"></i> SimpleBlog</a>
      <a href="#" class="nav-link text-white d-inline-block float-right text-center">
        &copy; 2019 <script>new Date().getFullYear()>2019&&document.write("-"+new Date().getFullYear());</script>, SimpleBlog.
      </a>
    </nav>
    
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>