    <nav class="navbar fixed-bottom navbar-dark bg-transparent d-none d-lg-block">
      <a class="navbar-brand d-inline text-center d-inline-block" href="/"><i class="fab fa-blogger-b text-primary"></i> SimpleBlog</a>
      <a href="#" class="nav-link text-white d-inline-block float-right text-center">
        &copy; 2019 <script>new Date().getFullYear()>2019&&document.write("-"+new Date().getFullYear());</script>, SimpleBlog.
      </a>
    </nav>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js" integrity="sha256-aYTdUrn6Ow1DDgh5JTc3aDGnnju48y/1c8s1dgkYPQ8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>