<nav id="navigation" class="navbar navbar-expand-lg fixed-top navbar-dark bg-transparent">
  <a class="navbar-brand" href="/"><i class="fab fa-blogger-b text-primary"></i> SimpleBlog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%- include ('nav-links') %>
</nav>