<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>505</title>
  <link rel="stylesheet" href="/stylesheets/500.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <div class="full-screen">
    <div class='container'>
      <span class="error-num">5</span>
      <div class='eye'></div>
      <div class='eye'></div>

      <p class="sub-text">Oh eyeballs! Something went wrong. We're <span class="italic">looking</span> to see what happened.</p>
      <a href="/">Go back</a>
    </div>
  </div>
  <script src="/javascripts/500.js"></script>
</body>
</html>
